# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Testing
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo

# Django
staticfiles
media
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django specific
*.sqlite3
db.sqlite3
*.pyc
local_settings.py

# Logs
BackEnd/logs/*
*.log

# Media and user uploads
BackEnd/media/*
back.bat
front.bat
.cursor/
.kiro/
